@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Registry</h1>
    @Html.ActionLink("View Movies", 
                 "Index", 
                 "Movie",
                 null,
                 null 
                 )

</div>
